<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
   <p1>TwitterClone</p2>
  </header>

  <body>
    <div class = "wrapper">
      <%= render "header" %>
      <div class = "main_body">
        <%= yield %>
      </div>
      <%= render "footer" %>
    </div> 
  </body>
</html>

