<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "wrapper">
  　<header>
    　<%= image_tag "head1.jpeg", class: "img_head2" %>
    </header>
    <div class = "main_body">

    <%= yield %>

    </div>
    <footer>
    <%= image_tag "paris.jpeg", class: "img_foot" %>


  <footer class="footer">
    <p>Copyright © 2021 L.Takahashi INC All RIGHTS RESERVED.</p>
      </footer>
    </div> 
  </body>
</html>

